{{template "admin" .}}
{{define "css"}}
    <link rel="stylesheet" href="/static/admin/vendors/simple-datatables/css/style.css">
{{end}}
{{define "page-title"}}
    All Reservations
{{end}}

{{define "content"}}
    <div class="col-md-12">
        {{$res := index .Data "reservations"}}
        {{template "table-reservations-admin" (dict "res" $res)}}
    </div>
{{end}}
{{define "js"}}
    <script src="/static/admin/vendors/simple-datatables/js/main.js"></script>
    <script src="/static/admin/js/table.js"></script>
{{end}}