{{template "base" .}}
{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            {{$res := index .Data "reservation"}}
            <h1 class="mt-4 text-center">Make Reservation</h1>
            <p><strong>Reservation Details</strong><br/>
                Room: {{$res.Room.RoomName}}<br/>
                Arrival: {{index .StringMap "start_date"}}
                <br/>
                Departure: {{index .StringMap "end_date"}}
            </p>
        </div>
    </div>

    {{$res := index .Data "reservation"}}
    <form action="/book" method="POST" class="needs-validation row g-3" novalidate>
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <input type="hidden" name="start_date" value="{{index .StringMap "start_date"}}">
        <input type="hidden" name="end_date" value="{{index .StringMap "end_date"}}">
        <input type="hidden" name="room_id" class="form-control" value="{{$res.RoomID}}">
        <div class="col-md-6">
            <label for="first_name" class="form-label">First Name</label>
            {{with .Form.Errors.Get "first_name"}}
                <label class="text-danger">{{.}}</label>
            {{end}}
            <input type="text" class="form-control{{with .Form.Errors.Get "first_name"}} is-invalid{{end}}"
                id="first_name" name="first_name" aria-describedby="firstNameHelp" required autocomplete="off"
                autocapitalize="on" value="{{$res.FirstName}}">
        </div>
        <div class="col-md-6">
            <label for="last_name" class="form-label">Last Name</label>
            {{with .Form.Errors.Get "last_name"}}
                <label class="text-danger">{{.}}</label>
            {{end}}
            <input type="text" class="form-control{{with .Form.Errors.Get "last_name"}} is-invalid{{end}}"
                id="last_name" name="last_name" aria-describedby="lastNameHelp" required autocomplete="off"
                autocapitalize="on" value="{{$res.LastName}}">
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            {{with .Form.Errors.Get "email"}}
                <label class="text-danger">{{.}}</label>
            {{end}}
            <input type="email" class="form-control{{with .Form.Errors.Get "email"}} is-invalid{{end}}" id="email"
                name="email" aria-describedby="email" required value="{{$res.Email}}">
        </div>
        <div class="col-md-6">
            <label for="phone" class="form-label">Phone number</label>
            {{with .Form.Errors.Get "phone"}}
                <label class="text-danger">{{.}}</label>
            {{end}}
            <input type="phone" class="form-control{{with .Form.Errors.Get "phone"}} is-invalid{{end}}" id="phone"
                name="phone" aria-describedby="phone" required value="{{$res.Phone}}">
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>
</div>
{{end}}