{{template "base" .}}

{{define "css"}}
<link href="/static/css/datepicker.min.css" rel="stylesheet">
{{end}}

{{define "content"}}
{{$res := index .Data "room"}}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mx-auto text-center mt-4">
            <img src="/static/images/{{$res.RoomURL}}.png" class="img-fluid img-thumbnail rounded shadow cards">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-5">{{$res.RoomName}}</h1>
            <p>{{$res.RoomDescription}}</p>
        </div>
    </div>
    <div class="col text-center my-5">
        <a id="search-availability" class="btn btn-success shadow cards">Check Availability</a>
    </div>

    <div id="availability-form-container" class="d-none">
        <span class="d-none" id="room-id" data-room-id="{{$res.ID}}"></span>
        {{template "availability-form" .}}
    </div>
</div>
{{end}}
{{define "js"}}
<script src="/static/js/datepicker-full.min.js"></script>
{{end}}